<!DOCTYPE html>
<html>
<head>

	<title>Season 3</title>
	<link rel="icon" href="Gotham.jpg" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/app.css">	




</head>
<body>

<div class="headercss">
    <div class="headerlogo"></div>
    <div class="nav">
        <ul>
            <li><a href="/"> <br>home</a></li>
            <li><a href="/app1"><br>Season 1</a></li>
            <li><a href="/app2"><br>Season 2</a></li>
            <li><a href="/app3"><br>Season 3</a></li>
        </ul>
    </div>

	<div id ="app3"></div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="public/js/app.js"></script>
	

</div>
</body>
</html>